@using CSCPA.Model
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="col-md-6">
                    <h3 class="box-title">LRP Company</h3>
                </div>
                <div class="row">
                    <div class="headerRightSideDiv">
                        <div style="float:left">
                            @(Html.DevExtreme().Button()
                                .ID("AddState")
                                .Icon("plus").Hint("Add Layout")
                                .OnClick("function(e) { common.addLayout('Layouts','LRPCompanyList','CompanyList') }")
                                )
                            @(Html.DevExtreme().Button()
                                .ID("DeleteState")
                                .Icon("trash").Hint("Delete Layout")
                                .OnClick("function(e) { common.deleteLayout('Layouts','CompanyList') }")
                                )
                        </div>
                        <div class="templateDorpdownDiv">
                            @(
                                Html.DevExtreme()
                                .SelectBox()
                                .ID("Layouts")
                                .DataSource(d => d.Mvc().Controller("GridLayout").LoadAction("Lookup").LoadParams(new { filter= "['Gridid', '=', 'CompanyList']" }).Key("Value"))
                                .DisplayExpr("Layoutname")
                                .ValueExpr("Id")
                                .OnValueChanged("function(e) { common.loadTemplate(e,'LRPCompanyList') }")
                                    )
                        </div>
                        <div style="float:left">
                            @(Html.DevExtreme().Button()
                            .ID("SaveState")
                            .Icon("save").Hint("Update Layout")
                            .OnClick("function(e) { common.updateLayout('Layouts','LRPCompanyList','CompanyList') }")
                            )
                          @*  @(Html.DevExtreme().Button()
                            .ID("printExcel")
                            .Icon("print")
                            .OnClick("function(e) { location.href = '" + Url.Action("GetExcel", "LRPCompany") +"'}"))*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive">
                @(Html.DevExtreme().DataGrid<LRPCompanyListModel>()
                        .ID("LRPCompanyList")
                        .ShowBorders(true)
                        .AllowColumnReordering(true)
                        .Selection(selection => selection.Mode(SelectionMode.Multiple))
                        .OnSelectionChanged("lrpCompanyList.onSectionChnage")
                        .StateStoring(s => s
                        .Enabled(true)
                        .Type(StateStoringType.Custom)
                        .CustomLoad("lrpCompanyList.loadTemplate")
                        .StorageKey("storage")
                        )
                        .DataSource(d => d.Mvc()
                        .Controller("LRPCompany")
                        .LoadAction("List")
                        .UpdateAction("Put")
                        .Key("ObjectUID")
                        .DeleteAction("Delete"))
                        .Editing(editing =>
                        {
                            editing.Mode(GridEditMode.Batch);
                            editing.AllowDeleting(true);
                            editing.AllowUpdating(true);
                            editing.UseIcons(true);
                        })
                        .OnEditorPreparing("lrpCompanyList.onEditorPreparing")
                        .ColumnChooser(c => c
                        .Enabled(true)
                        .Mode(GridColumnChooserMode.Select))
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.Name);
                        columns.AddFor(m => m.Code);
                        columns.AddFor(m => m.AddressLineI);
                        columns.AddFor(m => m.AddressLineII);
                        columns.AddFor(m => m.City);
                       @* columns.AddFor(m => m.State);*@
                        columns.AddFor(m => m.Zipcode);
                        columns.AddFor(m => m.CountryId)
                        .SetCellValue("lrpCompanyList.setCountryValue")
                        .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Country").LoadAction("LookUp").Key("Value"))
                        .DisplayExpr("Text")
                        .ValueExpr("Value")
                        );


                      @*  columns.AddFor(m => m.CountryStateId)
                        .Lookup(lookup => lookup
                        .DataSource("lrpCompanyList.getCountryStates")
                        .DisplayExpr("Name")
                        .ValueExpr("ObjectUid")
                        );*@


                    @*    columns.AddFor(m => m.ParentLrpcompanyId)
                        .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("LRPCompany").LoadAction("Lookup").Key("Value"))
                        .DisplayExpr("Text")
                        .ValueExpr("Value")
                        );*@


                        columns.AddFor(m => m.Description);
                        columns.Add().Type(GridCommandColumnType.Buttons)
                    .Buttons(b =>
                    {
                        b.Add().Icon("edit").OnClick("function(e) { lrpCompanyAddEdit.showModel(e, lrpCompanyList.refreshList); }");
                        b.Add().Icon("trash").OnClick("function(e) { lrpCompanyList.onRowRemoving(e); }");

                    }).Caption("Action").Fixed(true).FixedPosition(0).AllowHiding(false);
                    })
                    .Export(e => e.Enabled(true).AllowExportSelectedData(true))
                    .OnExporting("common.exporting")
                    .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual))
                    .Paging(paging => paging.PageSize(10))
                    @*.Pager(pager =>
                    {
                        pager.Visible(true);
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new JS("[10, 50 ,100, 500 ,1000 , 10000 ,20000 ,25000, 50000]"));
                        pager.ShowInfo(true);
                        pager.ShowNavigationButtons(true);
                    })*@
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .GroupPanel(p => p.Visible(true))
                    .Grouping(g => g.AutoExpandAll(false))
                    .RemoteOperations(true).OnToolbarPreparing("lrpCompanyList.toolbar_preparing")
                    )
            </div>
        </div>
    </div>
</div>