@using CSCPA.Model
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="col-md-6">
                    <h3 class="box-title">Bdg Report Parameter</h3>
                </div>
                <div class="row">
                    <div class="headerRightSideDiv">
                        <div style="float:left">
                            @(Html.DevExtreme().Button()
                                .ID("AddState")
                                .Icon("plus").Hint("Add Layout")
                                .OnClick("function(e) { common.addLayout('Layouts','BdgreportParameterList','BDGReportParameterList') }")
                                )
                            @(Html.DevExtreme().Button()
                                .ID("DeleteState")
                                .Icon("trash").Hint("Delete Layout")
                                .OnClick("function(e) { common.deleteLayout('Layouts','BDGReportParameterList') }")
                                )
                        </div>
                        <div class="templateDorpdownDiv">
                            @(
                    Html.DevExtreme()
                    .SelectBox()
                    .ID("Layouts")
                    .DataSource(d => d.Mvc().Controller("GridLayout").LoadAction("Lookup").LoadParams(new { filter= "['Gridid', '=', 'ReportList']" }).Key("Value"))
                    .DisplayExpr("Layoutname")
                    .ValueExpr("Id")
                    .OnValueChanged("function(e) { common.loadTemplate(e,'BdgreportParameterList') }")
                        )
                        </div>
                        <div style="float:left">
                            @(Html.DevExtreme().Button()
                            .ID("SaveState")
                            .Icon("save").Hint("Update Layout")
                            .OnClick("function(e) { common.updateLayout('Layouts','BdgreportParameterList','BDGReportParameterList') }")
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive">
                @(Html.DevExtreme().DataGrid<BdgreportParameterListModel>()
                        .ID("BdgreportParameterList")
                        .ShowBorders(true)
                        .AllowColumnReordering(true)
                        .Selection(selection => selection.Mode(SelectionMode.Multiple))
                        .OnSelectionChanged("bdgreportParameterList.onSectionChange")
                        .StateStoring(s => s
                        .Enabled(true)
                        .Type(StateStoringType.Custom)
                        .CustomLoad("bdgreportParameterList.loadTemplate")
                        .StorageKey("storage")
                        )
                        .DataSource(d => d.Mvc()
                        .Controller("BdgreportParameter")
                        .LoadAction("List")
                        .UpdateAction("Put")
                        .Key("ObjectUID")
                        .DeleteAction("Delete"))
                        .Editing(editing =>
                        {
                            editing.Mode(GridEditMode.Batch);
                            editing.AllowDeleting(true);
                            editing.AllowUpdating(true);
                            editing.UseIcons(true);
                        })
                        .OnEditorPreparing("bdgreportParameterList.onEditorPreparing")
                        .ColumnChooser(c => c
                        .Enabled(true)
                        .Mode(GridColumnChooserMode.Select))
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.ParameterDisplayName);
                        columns.AddFor(m => m.ParameterDatabaseFieldName);
                        columns.AddFor(m => m.ParameterDefaultValue);
                        columns.AddFor(m => m.ParameterDefaultStartValue);
                        columns.AddFor(m => m.ParameterDefaultEndValue);
                        columns.AddFor(m => m.BdgreportId)
                     .Lookup(lookup => lookup
                     .DataSource(d => d.Mvc().Controller("Bdgreport").LoadAction("LookUp").Key("ObjectUid"))
                     .DisplayExpr("Name")
                     .ValueExpr("ObjectUid")
                     );
                        columns.AddFor(m => m.BdgreportParameterTypeId)
                     .Lookup(lookup => lookup
                     .DataSource(d => d.Mvc().Controller("BdgreportParameterType").LoadAction("LookUp").Key("ObjectUid"))
                     .DisplayExpr("Name")
                     .ValueExpr("ObjectUid")
                     );
                        columns.Add().Type(GridCommandColumnType.Buttons)
                        .Buttons(b =>
                        {
                            b.Add().Icon("edit").OnClick("function(e) { bdgreportParameterAddEdit.showModel(e, bdgreportParameterList.refreshList); }");
                            b.Add().Icon("trash").OnClick("function(e) { bdgreportParameterList.onRowRemoving(e); }");

                        }).Caption("Action").Fixed(true).FixedPosition(0).AllowHiding(false);
                    })
                    .Export(e => e.Enabled(true).AllowExportSelectedData(true))
                    .OnExporting("common.exporting")
                    .Paging(p => p.PageSize(10))
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .GroupPanel(p => p.Visible(true))
                    .Grouping(g => g.AutoExpandAll(false))
                    .RemoteOperations(true).OnToolbarPreparing("bdgreportParameterList.toolbar_preparing")
                    )
            </div>
        </div>
    </div>
</div>
